# --------------------------------------------------------------------------------
# PYTHON BYTE-CODE
# --------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pydl
*$py.class

# --------------------------------------------------------------------------------
# ENVIRONMENT / VIRTUAL ENV
# --------------------------------------------------------------------------------
venv/
.venv/
env/
.env/
ciscoagentenv2/
ciscoagentenv/
myenv312/
pip-wheel-metadata/
.env

# --------------------------------------------------------------------------------
# DISTRIBUTION / BUILD FILES
# --------------------------------------------------------------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg

# --------------------------------------------------------------------------------
# LOG FILES
# --------------------------------------------------------------------------------
*.log
**/chroma/*

# --------------------------------------------------------------------------------
# UNIT TEST / COVERAGE REPORTS
# --------------------------------------------------------------------------------
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
pytest_cache/
htmlcov/

# --------------------------------------------------------------------------------
# OS / EDITOR / IDE FILES
# --------------------------------------------------------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*~
*.orig
.idea/
.vscode/
*.code-workspace

# --------------------------------------------------------------------------------
# DATABASES
# --------------------------------------------------------------------------------
chroma_dbs/

# --------------------------------------------------------------------------------
# MISCELLANEOUS
# --------------------------------------------------------------------------------
 

# But explicitly DO NOT ignore '.env.sample'
!.env.sample

# ignore all generated SDK packages
/ai-building-blocks-database/output_sdk/

# ignore any ai-building-blocks-*.json files
/ai-building-blocks-database/ai-building-blocks-*.json
