aiohttp==3.11.11
attrs==25.3.0
azure_storage==0.37.0
catalystwan==0.40.2
chromadb==0.4.24
cohere==5.15.0
dnacentersdk==2.9.1
elasticsearch==8.8.0
httpx==0.28.1
keybert==0.9.0
langchain==0.3.25
meraki==1.53.0
openai==0.27.0
prometheus_client==0.21.1
prometheus_fastapi_instrumentator==7.1.0
pydantic==2.11.5
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
rich==14.0.0
sentence_transformers==4.1.0
structlog==25.3.0
sumy==0.11.0
transformers==4.51.3
yake==0.4.8
