# --------------------------------------------------------------------------------
# PYTHON BYTE-CODE
# --------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------------------------------------------------------------------
# ENVIRONMENT / VIRTUAL ENV
# --------------------------------------------------------------------------------
venv/
.venv/
env/
.env/
ciscoagentenv2/
ciscoagentenv/
pip-wheel-metadata/

# --------------------------------------------------------------------------------
# DISTRIBUTION / BUILD FILES
# --------------------------------------------------------------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg

# --------------------------------------------------------------------------------
# MISC EDITOR / OS FILES
# --------------------------------------------------------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.orig
*~

# --------------------------------------------------------------------------------
# MISCELLANEOUS
# --------------------------------------------------------------------------------
# If you want to store your .env file in version control, remove it here.
.env

# Local configuration files for IDEs, such as PyCharm, VSCode, etc.
.idea/
.vscode/
*.code-workspace
# ------------------
# Chroma DB
# ------------------

/chroma_dbs/
 

#-------------------
# Log files
#-------------------
*.log**/chroma/*
